#hero{
  background :url(../img/sparkbit-homepage.png) no-repeat center center fixed;
  background-size: cover;
  position:relative;
  height:100vh;
  width: 100%;
}

.header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 0;

  h1 {
    display: block;
    max-width: 725px;
    margin: 0px auto 10px;
    padding: 0px;
    text-align: center;
    font-size: 60px;
    font-family: "TeslaNikolaCaps";
    color: rgb(255, 255, 255);
    line-height: 0.5;
  }

  ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin-top: 35px;

    li {
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      text-transform: capitalize;
      color: rgb(255, 234, 0);
      line-height: 1;
      border-right: 1px solid rgb(255, 234, 0);
      padding-right: 10px;
      padding-left: 10px;

      &:last-of-type {
        border-right: 0;
      }

      @media screen and (max-width: 365px) { 
        font-size: 15px;
    }
    }
  }
}

.social {
    display: inline-flex;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 15%;

    &:before {
        position:absolute;
        right: 97.5%;
        top: 40%;
        width: 500%;
        height: 5px;
        content: "";
        border-bottom: 1px solid #fff;
    }

    li {
        padding: 20px 12px;
        margin: 0 5px;
        border: 1px solid rgb(203, 203, 201);
        transition: all .15s ease;

        &:hover {
            border-color: #ffea00;
            box-shadow:0 0 0 4px #ffea00;
            color: #333;
        }

        a {
            padding: 9px;
            border: 1px solid rgb(203, 203, 201);
            border-radius: 50%;

            &:hover {
                background-color: rgb(203, 203, 201);
            }

            &:hover .fa {
                transform: scale(1.25);
                color: #ffea00;
            }

            &:nth-of-type(1) {
                padding: 9px 11px;
            }

            .fa {
                color: rgb(203, 203, 201);
                transition:all .15s ease;

                &:hover {
                    color: rgb(255, 234, 0);
                }
            }
        }
    }
    @media screen and (max-width: 48em) { 
        left: 30%;
    }
}

.phone {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(203, 203, 201);
    font-weight: bold;
    line-height: 1.667;
    letter-spacing: 1px;
    display: inline-flex;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 82.4%;
    right: 15%;

    @media screen and (max-width: 48em) { 
        top: 77%;
        right: 35%;
    }
}



// navbar
.navBar {
  background-color: #C43D2C;
  position: fixed;
  min-width: 100%;
  min-width: 100%;
  z-index: 1;
}

.logo {
  background-color: transparent;
  border-radius: 50px;
  display: inline-block;
  height: 45px;
  margin: 1em 0;
  width: 250px;

  img {
    width: 100%;
    padding-top: 7px;
  }
}

// Content Wrapper
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

// Full Navigation, including mobile menu
nav {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 65%;
    
    a {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        transition: all .5s ease;

        &:hover {
            color: #ffea00;
        }
    }
  }
  
  li  {
    display: inline-block;
  }
  
  #menu-toggle {display: none;}
  
  .label-toggle {display: none;}
  
  .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 768px) {
    ul {
      background-color: red;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      width: 100%;
      visibility: hidden;
    }
    
    li {
      border-bottom: 2px solid #ffea00;
      display: block;
      font-size: 1.5em;
      padding: 2em 0;
    }
  
    #menu-toggle:checked ~ ul {
      opacity: 1;
      height: 100vh;
      visibility: visible;
    }
    
    .label-toggle {
        background: linear-gradient(to bottom, #f2d904 0%, #f2d904 20%, transparent 20%, transparent 40%, #f2d904 40%, #f2d904 60%, transparent 60%, transparent 80%, #f2d904 80%, #f2d904 100%);
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
    
    .wrapper {display: block;}
  }
}