#hero{
  background :url(../img/sparkbit-homepage.png) no-repeat center center fixed;
  background-size: cover;
  position:relative;
  height:100vh;
  width: 100%;
}
.header {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;

  h1 {
    display: block;
    max-width: 725px;
    margin: 0px auto 10px;
    padding: 0px;
    text-align: center;
    font-size: 60px;
    font-family: "arialRounded";
    color: rgb(255, 255, 255);
    line-height: 0.5;
  }

  ul {
    display: inline-flex;
    list-style: none;
    padding: 0;

    li {
      font-size: 20px;
      font-family: "Lato";
      color: rgb(255, 234, 0);
      line-height: 1;
      font-family: 'Lato', sans-serif;
      border-right: 1px solid rgb(255, 234, 0);
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
