#services {
	padding: 90px 0;

	h1 {
		font-size: 30px;
		font-family: "arialRounded";
		color: rgb(53, 53, 53);
		line-height: 1.2;
		margin-bottom: 60px;
	}

	.content-container {

		h3 {
			font-size: 22px;
			font-family: 'Lato', sans-serif;
			line-height: 1.2;
			text-align: center;
		}
	}
}